.enter-screen {
  padding: 65px 24px 0;
  text-align: center;
  .enter-screen__title {
    margin-bottom: 10px;
  }
  .enter-screen__subtitle {
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #3E4462;
  }
  .enter-screen-link {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    padding: 20px 30px;
    font-weight: 500;
    line-height: 20px;
    color: #000000;
    background: #FFFFFF;
    border-radius: 50px;
    cursor: pointer;
    &:after {
      position: absolute;
      content: url("./next.png");
      height: 48px;
      width: 48px;
      background: #1E1A3E;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      left: 130px;
      top: 6px;
      transition: .3s ease;
    }
    &:hover:after {
      transform: translateX(5px);
    }
  }
}